- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'



#content.wide
  .box
    %h1 Accounting report

    %table.t1
      %thead
        %tr
          %th.first{:scope => 'col'} Year
          %th{:scope => "col"} Retail sales
          %th{:scope => "col"} Royalty sales
          %th{:scope => "col"} Wholesale sales
          %th{:scope => "col"} Get Stock purchases
          %th{:scope => "col"} Totals
          %th.last{:scope => "col"} PPS Payments
      %tfoot
        %tr
          %th{:scope => 'row'} Totals
          %td
          %td
          %td
          %td
          %td
          %td
      %tbody
        

