- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content
  %h1 Edit Wholesale Price
  .box.sp
    - form_for @wholesale_price, :url => admin_wholesale_price_path(@wholesale_price), :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}
