- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content
  .box
    %h1 Edit Wholesale Price
  .inner
    - form_for @wholesale_price, :url => admin_wholesale_price_path(@wholesale_price), :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

