%ul.primary-nav
  %li
    = link_to 'Catalogs', retail_catalogs_path, :class => controller.controller_name == 'catalogs' ? 'current' : ''
  %li
    = link_to 'Publishers', retail_publishers_path, :class => controller.controller_name == 'publishers' ? 'current' : ''
  - if customer_signed_in?
    %li.cart= link_to "Cart (#{items_total_count})", retail_customer_cart_path(current_customer)

%form#search-form{:action => '', :method => 'post'}
  %label.fade{:for => 'search'} Search product...
  %input#search.txt{:name => 'search', :size => '20', :type => 'text', :value => ''}/
  %input.bt-search{:alt => 'Go', :src => '/stylesheets/button_search.png', :title => 'Buscar', :type => 'image', :value => 'Buscar'}/
