- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'

#content
  %h1 Edit Financial Information
  .box
    - form_for @bank_information, :url => publish_publisher_bank_informations_path(current_publisher, @bank_information), :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'publish/shared/sidebar')

