.group
  = f.error_messages

%label
  %span
    Amount
  = f.text_field :amount, :size => '6'
  %span.descr (Required)

%p.btso
  %button.b1{:type => 'submit'}
    Save
  %span
    or
    = link_to "Cancel", admin_wholesaler_invoice_wholesaler_payments_path(@wholesaler, @invoice), :class => "button"

