- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'


#content.wide
  .box
    %p
      View all of your uploaded products here. Click on the title to review the
      product details. Edit and delete the titles by clicking the links to the
      right. To send your special email invitation for your private titles, click
      the email link and follow the easy instructions provided.

    %table.t1
      %thead
        %tr
          %th ID
          %th Title
          %th Media
          %th Genre
          %th Ready for Sale
          %th.w30 &nbsp;
      %tbody
        = render :partial => @products
  .box
    = will_paginate @products
