- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'


#content.wide
  .box
    %table.t1
      %thead
        %tr
          %th ID
          %th Title
          %th Media
          %th Genre
          %th Ready for Sale
          %th.w30 &nbsp;
      %tbody
        = render :partial => @products
  .box
    = will_paginate @products
