- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'

#content.wide
  %h1 New Product
  %p Add your Music or Film here.
  %p Complete the required fields, upload your iso file, and add your cover art and you’ll be good to go!
  %p We require you to place your content in an iso file for uploading. For more information regarding iso files check out our link below!
  %p Once you upload your cover art, save your project, and then edit it to adjust your images to fit our template.
  .box.sp
    - form_for @product, :url => publish_publisher_products_path(current_publisher), :html => { :multipart => true, :class => :form } do |f|
      = render :partial => 'form', :locals => { :f => f } 

