- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'

#content.wide
  %h1 All your publisher payments

  %table.t1
    %thead
      %tr
        %th.first.w5{:scope => 'col'} ID
        %th Date
        %th.w50 Payment Method
        %th
        %th Amount
    %tbody
      - @publisher_payments.each do |publisher_payment|
        %tr{:class => cycle("odd", "even")}
          %td= publisher_payment.id
          %td= publisher_payment.created_at
          %td= publisher_payment.payment_method
          %td
          %td= number_to_currency publisher_payment.amount
