- content_for :primary_nav do
  =render :partial => 'retail/shared/navbar'

#content.wide
  .box
    %h1= @publisher.artist_name
    %p
      %b E-mail:
      = @publisher.email
    - unless @publisher.bio.blank?
      %p
        %b Biography:
      %p= @publisher.bio
    %p
      %em Catalogs by this Publisher :
    %table.t1
      %tr
        %th Title
        %th.w40 Publisher
        %th.w10 &nbsp;
      = render :partial => 'retail/catalogs/catalog', :collection => @publisher.catalogs

