- content_for :primary_nav do
  =render :partial => 'retail/shared/navbar'

#content.wide
  %h1 Links
  .box.sp
    %div{:style => 'margin: 15px;'}
      %a{:href => 'http://www.indieclub.com/'}
        %img{:src => 'http://www.indieclub.com/links/indieclub.gif', :alt => 'IndieClub'}
