/* 
-------- Buttons -------------------------------------------------------------------------------------------------- */


/* BTS: Button System */
/* :::::::::::::::::::::::::::::::::::::::::: */
.bts{
	display: block;
	padding: 5px 15px;
	margin: 0 0 15px 0;
	clear: both;
}

/* BTO: Button Options */
/* ::::::::::::::::::::::::::::::::::::::::: */
.bto{
   border: 1px solid #cfcfcf;
   color: #444;
   font-family: Arial, Helvetica, sans-serif !important;
   font-size: 80%;
   cursor: pointer;
	padding: 6px 25px !important;
	width: auto;
	text-decoration: none;
	vertical-align: middle;
}
.bto.mini{
	font-size: 70%;
	padding: 4px 8px !important;
}
.bto.del{
	color: #ff3300;
}


/* BTSO: Button System and Options */
/* ::::::::::::::::::::::::::::::::::::::::: */
p.btso{clear: both;}

/* Big Green button */
.b1{height: 55px;}
.b1 button{
   border: 1px solid #64ca00;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif !important;
   font-size: 120%;
   cursor: pointer;
	padding: 15px 45px !important;
	vertical-align: top;
}
.b1 button:hover{border: 1px solid #268624;}
.b1 span{line-height: 350%;padding: 0 0 0 10px;}

.tools.mini .bto{
	font-size: 70%;
	padding: 4px 8px !important;
}

/* Add to Cart button */
.bc1{
	border: 1px solid #fb6c2e;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif !important;
   font-size: 100%;
   cursor: pointer;
	padding: 10px 15px !important;
	vertical-align: top;
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
 	text-shadow: 0 1px #b53904;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffd700), to(#f94e04));
	background: -moz-linear-gradient(top,  #ffd700,  #f94e04);
}
.bc1:hover{
 	text-shadow: 0 -1px #fb6c2e;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffe02b), to(#fb6c2e));
	background: -moz-linear-gradient(top,  #ffe02b,  #fb6c2e);
}
.bto{
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
 	text-shadow: 0 1px #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cccccc));
	background: -moz-linear-gradient(top,  #fff,  #cccccc);
}
.bto:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
}
.bto.del:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff3c3c), to(#c60000));
	background: -moz-linear-gradient(top,  #ff3c3c,  #c60000);
	color: #fff;
	text-shadow: 0 -1px #770000;
	border: 1px solid #ff3c3c; 
}
.b1 button{
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px;
 	text-shadow: 0 1px #1a5c19;
 	background: -webkit-gradient(linear, left top, left bottom, from(#7AC25A), to(#2FA42C));
	background: -moz-linear-gradient(top,  #7AC25A,  #2FA42C);
}
.b1 button:hover{
	text-shadow: 0 -1px #1a5c19;
	background: -webkit-gradient(linear, left top, left bottom, from(#7AC25A), to(#268624));
	background: -moz-linear-gradient(top,  #7AC25A,  #268624);
}
