/* Arrays */

/* Width */
.w5{width: 5%;}
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}

/* Width pixel */
.wp10{width: 10px;}
.wp15{width: 15px;}
.wp20{width: 20px;}
.wp25{width: 25px;}
.wp30{width: 30px;}
.wp35{width: 35px;}
.wp40{width: 40px;}
.wp45{width: 45px;}
.wp50{width: 50px;}
.wp55{width: 55px;}
.wp60{width: 60px;}
.wp65{width: 65px;}
.wp70{width: 70px;}
.wp75{width: 75px;}
.wp80{width: 80px;}
.wp85{width: 85px;}
.wp90{width: 90px;}
.wp95{width: 95px;}
.wp100{width: 100px;}
.wp105{width: 105px;}
.wp110{width: 110px;}
.wp115{width: 115px;}
.wp120{width: 120px;}
.wp125{width: 125px;}
.wp130{width: 130px;}
.wp135{width: 135px;}
.wp140{width: 140px;}
.wp145{width: 145px;}
.wp300{width: 300px;}

/* Margins */
.ml10{margin-left: 10px !important;}
.ml20{margin-left: 20px !important;}
.ml30{margin-left: 30px !important;}
.ml40{margin-left: 40px !important;}
.ml50{margin-left: 50px !important;}
.ml60{margin-left: 60px !important;}
.ml70{margin-left: 70px !important;}
.ml80{margin-left: 80px !important;}
.ml90{margin-left: 90px !important;}
.ml100{margin-left: 100px !important;}
.ml110{margin-left: 110px !important;}