/* 
-------- Buttons -------------------------------------------------------------------------------------------------- */

/* Button and text link */
p.btso{
	display: block;
	padding: 0;
	margin: 30px 24px 25px 0;
	clear: both;
	vertical-align: middle;
	line-height: normal;
}

/* STANDARD BUTTON */

.bto{
	 border: 1px solid #cfcfcf;
   color: #444;
   font-family: Arial, Helvetica, sans-serif !important;
   font-size: 80%;
   cursor: pointer;
	padding: 6px 25px !important;
	width: auto;
	text-decoration: none;
	vertical-align: middle;
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
 	text-shadow: 0 1px #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cccccc));
	background: -moz-linear-gradient(top,  #fff,  #cccccc);
}
.bto:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
}
.bto.mini{
	font-size: 70%;
	padding: 4px 8px !important;
}
.bto.del{
	color: #ff3300;
}
.bto.del:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff3c3c), to(#c60000));
	background: -moz-linear-gradient(top,  #ff3c3c,  #c60000);
	color: #fff;
	text-shadow: 0 -1px #770000;
	border: 1px solid #ff3c3c; 
}

/* HEADER SEARCH BUTTON */
form#search-form input.bt-search{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
}


/* BIG GREEN BUTTON */
.b1,
a.b1{
	border: 1px solid #268624;
   color: #fff !important;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif !important;
   font-size: 100%;
   cursor: pointer;
   margin: 0 8px 0 0;
	padding: 10px 20px !important;
	vertical-align: middle;
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
 	text-shadow: 0 1px #1a5c19;
 	background: -webkit-gradient(linear, left top, left bottom, from(#7AC25A), to(#2FA42C));
	background: -moz-linear-gradient(top,  #7AC25A,  #2FA42C);
}
.b1:hover{
	text-shadow: 0 -1px #1a5c19;
	background: -webkit-gradient(linear, left top, left bottom, from(#7AC25A), to(#268624));
	background: -moz-linear-gradient(top,  #7AC25A,  #268624);
}


/* ADD TO CART */
.b2,
a.b2{
	border: 1px solid #fb6c2e;
   color: #fff !important;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif !important;
   font-size: 100%;
   cursor: pointer;
   margin: 0 8px 0 0;
	padding: 10px 15px !important;
	vertical-align: middle;
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   box-shadow: inset 0 1px 1px rgba(255,255,255,1);
   -moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
 	text-shadow: 0 1px #b53904;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffd700), to(#f94e04));
	background: -moz-linear-gradient(top,  #ffd700,  #f94e04);
}
.b2:hover{
 	text-shadow: 0 -1px #fb6c2e;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffe02b), to(#fb6c2e));
	background: -moz-linear-gradient(top,  #ffe02b,  #fb6c2e);
}

