@import url(forms.css);
@import url(buttons.css);
@import url(tables.css);
@import url(css3.css);
@import url(admin.css);
@import url(arrays.css);

/* Reset 
-----------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	}
ol, ul {
	list-style: none;
	margin-bottom: 20px;
	}
blockquote, q {
	quotes: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}

/* General 
-----------------------------*/
html{
	/*background-image: url(bg.jpg); */
	backgr ound: #213A4F;
}
body{
	font-family: "Lucida Grande",Helvetica, Arial, sans-serif;
	font-size: 90%;
	line-height: 1.4em;
	color: #666;
	background: #EEF2F3 url(back.png);
}
body#customer{
	background: url(bg-customer.jpg);
}
h1, h2, h3, h4, h5, h6{
	font-family: Arial, "Trebuchet MS", Helvetica, Arial, sans-serif;
	margin: 5px 0 25px 0;
	color: #4a4d71;
	color: #0E2D49;
	color: #14576c;
	color: #383f56;
}
p{
	margin: 0 0 15px 0;
	max-width: 940px;
}
a{color: #417FCA; color: #0C5ECE}
a:hover{color: #3B5998; color: #0c3d7c}
h1{font-size: 185%;margin-bottom: 30px}
h2{font-size: 160%;}
h3{font-size: 120%;}
h4{font-size: 100%;}

/* Vs */
.fl{/* Float Left */
	float: left;
	margin: 0 15px 15px 0;
}
.box .fr{/* Float Right */
	float: right;
	margin: 0 24px 15px 15px;
}
.box .col .fr{
	float: right;
	margin: 0 0 15px 15px;
}
.ct{/* Center */
	display: block;
	margin: 15px auto;
}
p.clear{
	height: 5px;
	clear: both;
	margin: 0;
}

/* Primary divisions
-----------------------------*/
#wrapper{
	width: 972px;
	margin: 0 auto;
	padding: 0 0 15px 24px;
	background: #fff;
	overflow: hidden;
}
#header{
	width: 996px;
	height: 90px;
	position: relative;
	margin: 0 auto;
	padding: 0 0 0 0px;
	font-size: 95%;
	z-index: 1000;
	position: relative;
}
#footer{
	width: 996px;
	height: 70px;
	clear: both;
	margin: 0 auto;
	padding: 15px 0 0 0;
	font-size: 90%;
	position: relative;
	ba ckground: url(content-bottom.png) no-repeat center top;
	font-size: 80%;
	color: #999;
}
#container{
	width: 972px;/* 972? */
	min-height: 500px;
	overflow: hidden;
	padding: 15px 0;
	ba ckground: #000
}
#content{
	width: 705px;
	min-height: 300px;
	float: left;
}
#content.wide{
	width: 972px;
}

#sidebar{
	width: 219px;
	min-height: 300px;
	float: left;
	
	margin: 0 0 0 24px;
}
#nav{
	width: 996px;
	height: 90px;
	margin: 0 auto 20px auto;
/*	background: #ccff55;*/
	position: relative;
}
#nav.nos{/* No Secondary Nav */
	height: 33px;
}




/* Header
-----------------------------*/
.options{/* log out, my account, etc. */
	height: 45px;
	position: absolute;
	top: 8px;
	right: 0;
}
.options li{
	float: left;
	margin: 20px 0 0 10px;
}
.options li a{
	float: left;
}
#header img{
	position: absolute;
	top: 35px;
	left: 0;
}
body#customer #header img.logo{
	top: 25px;
}
.options li a.account{
	display: block;
	width: 130px;
	height: 44px;
	margin: 0 0 0 10px;
	padding: 0 0 0 20px;
	background: url(button_account.png) no-repeat;
	font-weight: bold;
	color: #fff;
	line-height: 250%;
	text-decoration: none;
}
.options li a.account:hover{
	background-position: 0 -44px;
}
.options li a.log{
	line-height: 250%;
}

/* Nav
-----------------------------*/

/* General Nav */
#nav ul li{
	margin: 0;
}
#nav ul li strong{
	display: block;
}
#nav ul li a{
	text-decoration: none;
}

/* Primary Nav */

#nav ul.primary-nav{
	width: 986px;
	height: 53px;
	background-image: url(nav-primary.png);
	background-repeat: no-repeat;
	/*margin-left: 1px;*/
	padding: 0 0 0 10px;
}
body#customer #nav ul.primary-nav{
	background-image: url(nav-primary-customer.png);
}
body#customer #nav ul.primary-nav li.cart{
	display: block;
	float: right;
	width: 108px;
	height: 53px;
	padding: 0;
	margin: 0;
}
body#customer #nav ul.primary-nav li.cart a{
	display: block;
	float: right;
	background-image: url(nav-primary-customer_cart.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 108px;
	height: 53px;
	padding: 0;
	margin: 0;
	text-indent: 40px
}
body#customer #nav ul.primary-nav li.cart a:hover{
	background-image: url(nav-primary-customer_cart.png);
	background-repeat: no-repeat;
	background-position: 0 -53px;
}
#nav ul.primary-nav li{
	float: left;
	height: 53px;
	line-height: 100%;
}
#nav ul.primary-nav li a{
	float: left;
	padding: 0 20px;
	height: 53px;
	color: #fff;
	line-height: 370%;
}
#nav ul.primary-nav li a:hover{
	background: url(nav-primary_hover.png);
	color: #fff;
}
body#customer #nav ul.primary-nav li a:hover{
	background: url(nav-primary_hover-customer.png);
	color: #fff;
}
#nav ul.primary-nav li a.current{
	background: url(nav_primary-current.png) repeat-x;
	color: #ededed;
	z-index: 1000
}
body#customer #nav ul.primary-nav li a.current{
	background: url(nav_primary-current-customer.png) repeat-x;


}
/* Secondary Nav */
#nav ul.primary-nav li ul.secondary-nav{
	width: 996px;
	height: 62px;
	background-image: url(nav-secondary.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 53px;
	left: 0;
	z-index: 800;
/*	border-left: 1px solid #dbdbdb; 
	border-right: 1px solid #dbdbdb; */
}
body#customer #nav ul.primary-nav li ul.secondary-nav{
	background-image: url(nav-secondary-customer.png);
}
#nav ul.secondary-nav li a{
	float: left;
	height: 41px;
	color: #ededed;
	line-height: normal;
	padding-top: 7px;
	font-size: 90%;
}
#nav ul.secondary-nav li a:hover{
	background: url(nav-secondary_hover.png);
	color: #fff;
}
#nav ul.primary-nav li ul.secondary-nav li a.current{
	background: url(nav_secondary-current.png) repeat-x;
	color: #fff;
}



/* Columns
-----------------------------*/
/* 
modulo: 57 
gut: 24
ancho: 972
*/


.col h1,.col h2,.col h3,.col h4,.col h5,.col h6{
	color: #666;
}
.col{width: 948px; min-height: 90px;float: left;margin: 0 24px 10px 0;padding: 0 0 5px 0;backg round: #ededed;b order-bottom: 1px solid #d5d5d5; overflow: hidden;}

.col.x2{width: 138px;}
.col.x3{width: 219px;}
.col.x4{width: 300px;}
.col.x6{width: 462px;}
.col.x8{width: 624px;}
.col.x100{width: 100%;background: #ccc;}

.box.sp{/* special */
	p adding: 15px 14px 15px 15px;
	border: 1px solid #eeeeee;
	background: #f9f9f9;
}

#content .box.sp{m argin: 0 24px 15px 0;padding: 15px 0 15px 14px;}
#content .box.sp .col{min-height: 90px;float: left;margin: 0 15px 10px 0;padding: 0 0 5px 0;back ground: #dcdcdc;bor der-bottom: 1px solid #d5d5d5;overflow:hidden;}

#content .box.sp .col.x2{width: 99px;}/* 698 */
#content .box.sp .col.x3{width: 157px;}/* 702 */
#content .box.sp .col.x4{width: 214px;}/* 701 */
#content .box.sp .col.x5{width: 270px;}/* 698 */
#content .box.sp .col.x7{width: 388px;}
#content .box.sp .col.x6{width: 329px;}/* 702 */
#content .box.sp .col.x8{width: 443px;}/* 701 */


#content.wide .box.sp{margin: 0 24px 15px 0;padding: 15px 0 15px 20px;}
#content.wide .box.sp .col{min-height: 90px;float: left;margin: 0 19px 10px 0;padding: 0 0 5px 0;ba ckground: #dcdcdc;b order-bottom: 1px solid #d5d5d5;overflow:hidden;}

#content.wide .box.sp .col.x2,
#contentFbox.wide .box.sp .col.x2
{width: 135px;}
#content.wide .box.sp .col.x3,
#contentFbox.wide .box.sp .col.x3
{width: 212px;}
#content.wide .box.sp .col.x4,
#contentFbox.wide .box.sp .col.x4
{width: 289px;}
#content.wide .box.sp .col.x5,
#contentFbox.wide .box.sp .col.x5
{width: 366px;}
#content.wide .box.sp .col.x5b,
#contentFbox.wide .box.sp .col.x5b
{width: 400px;}
#content.wide .box.sp .col.x6,
#contentFbox.wide .box.sp .col.x6
{width: 443px;}
#content.wide .box.sp .col.x8,
#contentFbox.wide .box.sp .col.x8
{width: 597px;}

/* Content
-----------------------------*/
.box{
	clear: both;
	min-height: 100px;
	overflow: hidden;
	margin: 0 0 15px 0;
	position: relative;
}
#content ul{
	margin: 15px 25px;
	list-style: square;
}
#content ol{
	margin: 15px 30px;
	list-style: decimal;
}

/* Content > HL */
#content ol.steps{
	min-height: 40px;
	width: 972px;
	margin: 0 0 40px 0;
}
#content ol.steps li{
	float: left;
	width: 219px;
	background: #dcdcdc;
	padding: 15px 0 15px 0;
	margin: 0 24px 0 0;
	text-indent: 20px;
	list-style: none;
}
#content ol.steps li.current-step{
	color: #000;
	background: #f3f3f3;
}
#content ol.steps li.current-step a{
	text-decoration: none;
	color: #999;
}
p.switch{
	display: none;
}



/* Sidebar
-----------------------------*/
#sidebar h3{
	margin-bottom: 15px;
	color: #666
}
#sidebar p{
	font-size: 80%;
	line-height: 150%;
}

/* Products */
dl{
	overflow: hidden;
	clear: both;
	margin: 0 0 20px 0
}
dt{
	font-weight: bold;
	width: 150px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	float: left;
}
dd{
	margin-bottom: 10px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	float: left;
	overflow: visible;
	padding: 10px
}


.boxy{
	border: 1px solid #b2b2b2;
	margin: 0 0 15px 0;
	padding: 10px 15px;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.boxy.iso{
	background: #fff url(ico-dvdxxx.png) 10px 20px no-repeat;
}
.boxy.iso small{
	display: block;
	margin: 0 0 15px 90px;
}
small{
	font-size: 85%;
	line-height: 140%;
	display: block;
	margin: 0 0 15px 0;
}
.boxy h3{
	background: #b2b2b2;
	color:#fff;
	margin: -11px -16px 15px -16px;
	padding: 5px 15px;
	font-size: 90%;
}
#content .box.sp dl{
	width: 400px;
	float: left;
	clear: right;
	padding: 5px 0 0 0;
}
#content .box.sp dt{
	height: auto;
	width: auto;
	float: none;
	color: #333
}
#content .box.sp dd{
	height: auto;
	width: auto !important;
	float: none;
	padding: 0;
	border: 0
}

.coverart{
	width: 174px;
	height: 250px;
	float: left;
	margin: 0 20px 0 0;
}
.cddvd{
	background: url(ico-cddvd.png) no-repeat;
	width: 174px;
	height: 250px;
	float: left;
	margin: 0 0 0 0;
}
.coverart,
.cddvd{
	position: relative;
	
}
.coverart .tools.mini,
.cddvd .tools.mini{
	position: absolute;
	bottom: 0
	
}

/* Fbox */
#wrapperFbox{
	width: 972px;
	margin: 0 auto;
	padding: 0;
	b ackground: #ccc;
	overflow: hidden;
}

#containerFbox{
	width: 972px;/* 972? */
	min-height: 500px;
	overflow: hidden;
	padding: 15px 0;
	b ackground: #000
}
#contentFbox{
	width: 705px;
	min-height: 300px;
	float: left;
	ba ckground: #ff6600
}
#contentFbox.wide{
	width: 972px;
	ba ckground: #ff5577
}

/* Carousel */
a.all{
	font-size: 50%!important;
	padding: 0 20px
}
.jcarousel-skin-tango li img{
	border: 1px solid #ccc; 
	display: block;
	margin: 0 auto;
}
.jcarousel-skin-tango li span{
	display: block;
	font-size: 85%;
	width: 119px;
	height: 17px;
	margin: 0 0 0 0;
	overflow: hidden;
	text-align: center;
}
.jcarousel-skin-tango li a span.title{
	font-weight: bold;
	color: #0C5ECE;
}
.jcarousel-skin-tango li a:hover span.title{color: #0c3d7c}
.jcarousel-skin-tango li span.genre{
	font-style: italic;
}
.jcarousel-skin-tango li span.price{
	color: #333;
	font-weight: bold;
}
.jcarousel-skin-tango li a{
	text-decoration: none;
	color: #666;
}

.jcarousel-skin-tango li:hover{
	background:#ededed;
	cursor: pointer;
}
