- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'
    
/ = render :partial => "form", :locals => {:f => f}

#content
  %h1 New catalog
  %p
    Here you can group your products separately according to your choice. Group
    all your works together under one catalog, or separate them as you like.
  %p
    Select the "Private" button to ensure that only the people you send out
    special invitations to will be able to see your product. This feature is
    great for wedding videos, special event videos, or any other video or music
    you do not want the general public to see.
  %p
    Create a password which will be automatically added to your invitation email.
    Go to the "Products" tab to send your invitation email.

  .box.sp
    - form_for @catalog, :url => publish_publisher_catalogs_path(current_publisher), :html => { :class => :form } do |f|
      =render :partial => "form", :locals => {:f => f}
