#contentFbox
  .box.sp
    %h1 Product Image
    .col.x4
      %img#product-image-cropbox{:src => @product.image.url(:medium)}
    .col.x4
      %div{:style => 'width: 220px; height: 293px; overflow: hidden; margin: 0 auto;'}
        %img#product-image-back{:src => '/images/template_product_image.png', :style => 'position: absolute; z-index: 1; width: 220px; height: 293px'}/
        %img.product-image-preview{:src => @product.image.url(:original)}

    %p.btso.b1
      %button{:type => 'submit'} Save
      %span
        or
        %a{:href => '#cancel'} Cancel
