#contentFbox
  .box.sp
    %h1 Sleeve
    .col.x4
      %img#sleeve-cropbox{:src => @product.cd_sleeve_art.url(:medium)}
    .col.x4
      %div{:style => 'width: 240px; height: 160px; overflow: hidden; margin: 0 auto;'}
        %img#sleeve-back{:src => '/images/template_dvd.png', :style => 'position: absolute; z-index: 1; width: 240px; height: 160px'}/
        %img#sleeve-preview{:src => @product.cd_sleeve_art.url(:original)}

    %p.btso.b1
      %button{:type => 'submmit'} Save
      %span
        or
        %a{:href => '#'} Cancel
