- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'

%h1 Welcome to the Publisher’s Home Dashboard.

%p Here you can navigate through your account, add products, and check your sales stats.

%p You can make changes to your account simply by clicking the “Edit Account” tab. Adding and editing your products is easy; just click onto the “Products” tab.

%p Adding financial information, such as Banking and PayPal accounts is easy. Just go to “Financial Info” and follow the instructions.

