#content.wide
  %h1 Login to the Admin account
  .box.sp
    - form_for resource_name, resource, :url => session_path(resource_name), :html => { :class => :form } do |f|
      %label
        %span
          E-mail
        = f.text_field :email
      
      %label
        %span
          Password
        = f.password_field :password

      - if devise_mapping.rememberable?
        %label
          = f.check_box :remember_me
          Remember me

      %p.btso
        %button.b1{:type => 'submit'}
          Login
