- content_for :primary_nav do
  =render :partial => 'retail/shared/navbar'

#content
  %h1 Forgot your User password?
  .box.sp
    - form_for resource_name, resource, :url => password_path(resource_name), :html => { :class => :form } do |f|
      = f.error_messages

      %label
        %span
          E-mail
        = f.text_field :email

      %p.btso
        %button.b1{:type => 'submit'}
          Send me reset password instructions

- content_for :sidebar, render(:partial => "shared/devise_user_links")

