- content_for :primary_nav do
  = render :partial => 'admin/shared/navbar'

#content.wide
  %h1 Featured Products
  .box.sp
    .box
      %h3 Current Featured Products
      %p
        - if @products.length == 0
          No featured products
        - else
          - for product in @products
            = link_to(product.title, retail_catalog_product_path(product.catalogs.first, product))
    .box
      %h3 New Featured Products
      - form_tag admin_featured_products_path do
        %input{:type => 'text', :name => 'featured', :size => 60}
        %span.descr{:style => 'float: none;'} Enter product ids separeted by white spaces

