%tr{:class => cycle("odd", "even")}
  %td
  %td= link_to catalog.title, retail_catalog_path(catalog)
  %td= catalog.publisher.full_name
  %td.last
    = link_to "Show #{catalog.products.count} Product(s)", retail_catalog_path(catalog)

