- content_for :primary_nav do
  =render :partial => 'retail/shared/navbar'


#content 
  %h1= @catalog.title
  %p
    %b Publisher:
    = link_to @catalog.publisher.full_name, retail_publisher_path(@catalog.publisher)
    %p
      %b Description:
      = @catalog.description
    %p
      %em Products featured in this Catalog :
    %table{:style => 'width: 100%;'}
      %thead
        %tr
          %th
          %th Title
          %th Price
          %th
      %tbody
        = render :partial => 'retail/products/product', :collection => @catalog.products.available

- unless @catalog.publisher.bio.blank?
  - content_for :sidebar, render(:partial => 'retail/shared/about', :locals => {:publisher => @catalog.publisher})
- else
  - content_for :sidebar, render(:partial => 'retail/shared/sidebar')

