- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'

#content
  %h1 New Financial Information
  .box
    - if params[:type] == 'bank'
      %p Adding your bank account information allows us to verify your identity, and send your payments electronically.
      %p You information is always kept private and safe on our secure servers.
    - elsif params[:type] == 'paypal'
      %p Adding your PayPal account information allows us to verify your identity, and send your payments electronically.
      %p You information is always kept private and safe on our secure servers.
    - form_for @financial_information, :url => publish_publisher_financial_informations_path(current_publisher, :type => params[:type]), :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'publish/shared/sidebar')

