- content_for :primary_nav do
  =render :partial => 'affiliate/shared/navbar'

#content
  %h1 New Affiliate Introduction
  .box.sp
    - form_for @affiliate_introduction, :url => affiliate_affiliate_affiliate_introductions_path(current_affiliate), :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'affiliate/shared/sidebar')

