- render :partial => 'retail/catalogs/main_navigation'

.block
  .content
    %h2.title Success!
    .inner
      %p Your Purchase Order has ben successfully created

- content_for :sidebar, render(:partial => 'retail/shared/sidebar')

