- render :partial => 'retail/catalogs/main_navigation'

.block
  .content
    %h2.title Failure!
    .inner
      %p Your Credit Card could not be charged with this Purchase Order

- content_for :sidebar, render(:partial => 'retail/shared/sidebar')

