- content_for :primary_nav do
  =render :partial => 'affiliate/shared/navbar'

#content.wide
  %h1 Affiliate's Dashboard
  .box.sp
    %span{:style => 'font-weight: bold'} Your affiliate URL:
    %div{:style => 'padding-left: 15px;'}
      - affiliate_url = new_publisher_registration_url(:aid => current_affiliate.hash_id)
      %a{:href => affiliate_url} #{affiliate_url}
