/* Forms */

.fcol{
	float: left;
}

.w50{
	width: 460px;
	width: 50%;
}
form{
	margin: 10px 0;
	padding-bottom: 10px;
	overflow: hidden;
}
input{
	padding: 5px;
}
select{
	padding: 5px;
	min-width: 200px;
}
label{
	display: block;
	width: 100%;
	height: 40px;
	float: left;
}
label span{
	width: 120px;
	display: block;
	float: left;
	line-height: 185%;
}
label.lb{/* lb=label block */
	display: block;
	min-height: 200px;
	clear: both;
}
label.lb span{
	width: 99%;
}
.bts{
	display: block;
	padding: 5px 15px;
	clear: both;
}

/* Effects */
input:focus,
textarea:focus{
	background: #f3f3f3;
}
input:hover,
textarea:hover{
	background: #ececec
}

/* debug */
form .col{
	background: none;
	border: 0;
}