- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content
  %h1 New Affiliate
  .box.sp
    - form_for @affiliate, :url => admin_affiliates_path, :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

