- content_for :primary_nav do
  =render :partial => 'publish/shared/navbar'

.box
  %h1 Help Page

  %h3 1. Signing Up
  %p Signing up with us is easy!
  %p
    You will need to enter a valid email address to get started.

  %h3 2. Creating an account
  %p Creating an account with us is easy!
  %p
    You must provide a valid bank or PayPal account to sign up. That information |
    is used to verify your identity, and will allow us to pay you electronically |
    when you sell your products! Your information is stored on safe, secured servers!

  %h3 3. Uploading content
  %p
    Uploading content will require you to place your data in an ISO file prior  |
    to uploading. 

  %p
    %strong What is an ISO image file?
  %p
    An ISO-9660 image file is an exact representation of a CD or DVD disk,      |
    including the content and the logical format. The most common use of an     |
    image file is to use it with a software tool and a blank disk to create an  |
    identical copy of the original disk including all file and folder names and |
    volume label information. Files with the ISO image format may also be       |
    opened and their contents copied to a local folder, much like ZIP files.    |
    ISO image files may also be virtually mounted and accessed as if they were  |
    a CD-ROM device, even when you do not have a CD or DVD drive. These three   |
    methods of using ISO images are described below.
    %ul
      %li Create CD or DVD disk with an ISO image file
      %li Copy or mount ISO image files (...if you don't have a CD/DVD burner).
      %li Find other tools that do the same.

    %p
      %strong Copy or Mount ISO files
    %p
      When you do not have the necessary disk-write capabilities with your CD or |
      DVD drive, or no drive at all, then the contents of image files may be     |
      accessed directly using third-party tools. Some tools extract the files    |
      from an image file to a temporary folder on your hard drive, and then run  |
      setup from your hard drive. And at least one tool in the following list    |
      makes it easy to simply double-click an ISO file and run the set up program |
      that installs the software. You might not end up with a backup disk using  |
      these tools, but then you won't need one if you can backup one of these    |
      programs and your ISO files! The following tools offer such image file     |
      support.

    %ul
      %li
        %a{:href => 'http://www.slysoft.com/en/virtual-clonedrive.html'}
          Virtual CloneDrive 
        %ul
          %li
            Be sure to download and install Virtual CloneDrive (Freeware) and    |
            not other tools you might find listed on this web site.
          %li
            After installing, literally double-click an ISO file to run setup    |
            and install the software packed inside that file! 
      %li
        %a{:href => 'http://www.smart-projects.net/isobuster/'}
          IsoBuster
        %ul
          %li
            IsoBuster is able to open ISO files and treat them as regular CD     |
            or DVD discs, and a lot more if that's what you're looking for.
          %li
            May need to set up File Associations after installation if you want  |
            to open an ISO file with a double-click.

      %li
        %a{:href => 'http://www.daemon-tools.cc'}
          DAEMON Tools
        %ul
          %li
            Download DAEMON Tools Lite (free) for Personal non-Commercial Use. 
          %li
            After installing, the program runs in the background and appears in  |
            the system tray at the right-side of the Task Bar.

      %li
        %a{:href => 'http://download.microsoft.com/download/7/b/6/7b6abd84-7841-4978-96f5-bd58df02efa2/winxpvirtualcdcontrolpanel_21.exe'}
          Virtual CD-ROM Control Panel for Windows XP
        %ul
          %li
            Allows image files to be mounted virtually as CD-ROM devices.
          %li
            This tool is provided here for your convenience but is no longer     |
            supported by Microsoft Product Support Services.

  %p
    %strong Uploading Movie Files
    %p
      The easiest way to upload your video content is with DVD Shrink, or
      another similar DVD back-up software product.
    %p
      Complete the required product description fields.
    %p
      Then, using
      %a{:href => 'http://www.dvdshrink-2010.org/'} DVD Shrink
      or whichever DVD back-up software product you are comfortable using,
      follow the easy directions for backing up your video, and save your
      content to your hard drive as an iso file. Once saved as an iso, your
      video is ready to be uploaded to our site. Just go to “Upload Content” and
      browse for your iso file. Select that file, and click upload. When the
      upload is complete, your product will be ready for retail sale.

  %p
    %strong Uploading Audio Files
    %p
      To upload audio wave files that will play in any CD player, first add your
      audio files to a zip file.
    %p
      Extract the audio files from your CD with any music burning software, such
      as Nero. In Nero, you save the project in “save tracks”. The output files
      should be wav files. Note that the zipped files will be inalphabetical
      order. So the order they zip, is the order they will burn on your finished
      disc. You makewant to name your tracks 01, then 02, 03, 04, etc, when
      saving them.
    %p
      Save the file to your hard drive.
    %p
      Next, open your winzip or winrar program, and add the tracks.
    %p
      Once the zip file is created, go to the “Upload Content” section in our
      website. Select that file, and click“upload” and upload the zip file just
      as if it were an iso file.
    %p
      When the upload is complete, your product will be ready for retail sale.

  %p
    %strong Uploading Music mp3, mp4 and other formats
    %p
      For uploading mp3, mp4 and other files you will need to convert them to
      wave files, and then zip them.
    %p
      After adding the files to a zip file, follow the instructions as listed
      above.
    %p
      There are many programs available to convert your music files.
      %a{:href => 'http://winlame.sourceforge.net/'} winLAME
      is a free conversion program with support for many audio formats.
