.block
  %h3 For your eyes only
  .content
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

.block
  %h3 Links
  %ul.navigation
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>

