- content_for :primary_nav do
  =render :partial => 'admin/shared/navbar'

#content
  .box
    %h1 New Packaging Option
  .inner
    - form_for @packaging_option, :url => admin_packaging_options_path, :html => { :class => :form } do |f|
      = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'admin/shared/sidebar')

