.box
  %h3 Get on the Store
  %ul
    %li= link_to 'Shop our retail store now', root_path
    - unless publisher_signed_in?
      %li= link_to 'Publish and Sell your Products', new_publisher_session_path

